.button-inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.storyDetails {
  margin: 1rem !important;
}

.buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  border-bottom: 1px solid var(--ion-color-light-shade);
}

ion-icon {
  font-size: 20px;
}

.iconButton {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  gap: 0.5rem;
  font-size: 14px;
}

.rippleParent {
  position: relative;
  padding: 0.5rem 1rem;
}