<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Stories</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content
  [fullscreen]="true"
  [scrollEvents]="true"
  (ionScroll)="onScroll($event)"
>
  <div *ngIf="storiesAvailable; then data else loading"></div>

  <ng-template #data>
    <story
      *ngFor="let story of mainPageStories.list"
      [story]="story"
      (click)="openWebsite(story.url)"
    ></story>
  </ng-template>

  <ng-template #loading>
    <centered-spinner *ngIf="mainPageStories.loading"></centered-spinner>
  </ng-template>

  <ion-refresher slot="fixed" (ionRefresh)="handleRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-infinite-scroll
    (ionInfinite)="handleInfiniteScroll($event)"
    *ngIf="canLoadMoreStories"
  >
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>

  <ion-fab
    slot="fixed"
    [class]="{'scrollTopButton': showScrollTopButton, 'hidden': !showScrollTopButton}"
  >
    <ion-fab-button (click)="scrollToTop()">
      <ion-icon name="arrow-up"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
