<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      <ion-select
        aria-label="Stories category"
        interface="popover"
        justify="center"
        placeholder="Select category"
        [value]="mainPageStories.category"
        (ionChange)="handleCategoryChange($event)"
      >
        <ion-select-option value="top">Top stories </ion-select-option>
        <ion-select-option value="new">New stories</ion-select-option>
        <ion-select-option value="best">Best of all time</ion-select-option>
      </ion-select>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content
  [fullscreen]="true"
  [scrollEvents]="true"
  (ionScroll)="onScroll($event)"
>
  <div
    *ngIf="mainPageStories.list && mainPageStories.list.length > 0
    && !mainPageStories.loading; else
  loading"
  >
    <div>
      <story *ngFor="let story of mainPageStories.list" [story]="story"></story>
    </div>

    <ion-refresher slot="fixed" (ionRefresh)="handleRefresh($event)">
      <ion-refresher-content></ion-refresher-content>
    </ion-refresher>

    <ion-infinite-scroll
      (ionInfinite)="handleInfiniteScroll($event)"
      *ngIf="canLoadMoreStories"
    >
      <ion-infinite-scroll-content></ion-infinite-scroll-content>
    </ion-infinite-scroll>

    <ion-fab
      slot="fixed"
      [class]="{'scrollTopButton': showScrollTopButton, 'hidden': !showScrollTopButton}"
    >
      <ion-fab-button (click)="scrollToTop()">
        <ion-icon name="arrow-up"></ion-icon>
      </ion-fab-button>
    </ion-fab>
  </div>

  <ng-template #loading><centered-spinner></centered-spinner></ng-template>
</ion-content>
