<div *ngFor="let comment of comments">
  <ion-accordion-group *ngIf="comment.text" value="comment">
    <ion-accordion
      readonly="true"
      *ngIf="comment.children.length === 0"
      class="comment"
    >
      <div slot="header">
        <ion-note> {{ comment.author }}</ion-note>
        <ion-text [innerHTML]="comment.text" class="commentInner"></ion-text>
      </div>
      <div class="ion-padding" slot="content">
        <nested-comments [comments]="comment.children"></nested-comments>
      </div>
    </ion-accordion>
    <ion-accordion
      *ngIf="comment.children.length > 0"
      class="comment parentComment"
      value="comment"
    >
      <div slot="header">
        <ion-note> {{ comment.author }}</ion-note>
        <ion-text
          style="margin: 0px"
          [innerHTML]="comment.text"
          class="commentInner"
        ></ion-text>
      </div>
      <div slot="content">
        <nested-comments [comments]="comment.children"></nested-comments>
      </div>
    </ion-accordion>
  </ion-accordion-group>
</div>
