<ion-header [translucent]="true">
  <ion-toolbar>
    <div class="searchTitleContainer" slot="start">
      <ion-title>Search</ion-title>
      <ion-spinner *ngIf="searchResults.loading"></ion-spinner>
    </div>
  </ion-toolbar>
  <ion-searchbar
    (ionInput)="handleInput($event)"
    (ionClear)="handleClear($event)"
    [autofocus]="true"
    debounce="400"
  ></ion-searchbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div *ngIf="resultsAvailable; else noResults">
    <story
      *ngFor="let story of searchResults.list"
      [story]="story"
      (click)="openWebsite(story.url)"
    ></story>
  </div>

  <ng-template #noResults>
    <div class="empty-state">
      <ion-icon name="search-outline" size="large"></ion-icon>
      <p>No results. Search for something else!</p>
    </div>
  </ng-template>
</ion-content>
