.searchTitleContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

ion-searchbar {
  padding: 0px !important;
  padding-inline: 0px !important;
}

.noResults {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1rem;
  height: 50vh;
  text-align: center;

  p {
    max-width: 15rem;
  }
}