<ion-header [translucent]="true">
  <ion-toolbar>
    <div class="searchTitleContainer" slot="start">
      <ion-title>Search</ion-title>
      <ion-spinner *ngIf="loading"></ion-spinner>
    </div>
  </ion-toolbar>
  <ion-searchbar
    (ionInput)="handleInput($event)"
    [autofocus]="true"
    debounce="400"
  ></ion-searchbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div *ngIf="resultsAvailable">
    <story
      *ngFor="let story of searchResults.list"
      [story]="story"
      (click)="openWebsite(story.url)"
    ></story>
  </div>

  <div
    *ngIf="searchResults && searchResults.list?.length === 0"
    class="noResults"
  >
    <ion-icon name="search-outline" size="large"></ion-icon>
    <p>No results corresponding to your search.</p>
  </div>
</ion-content>
