<ion-item-sliding #slidingItem>
  <ion-item *ngIf="story" button [detail]="false">
    <ion-label [routerLink]="story?.objectID" class="ion-text-wrap leftPart">
      <h3>{{ story.title }}</h3>
      <p>{{ domainName }}</p>
      <div class="stats">
        <div>
          <ng-container *ngIf="story.points > 300; else arrowUp">
            <ion-icon name="flame-outline"></ion-icon>
          </ng-container>
          <ng-template #arrowUp>
            <ion-icon name="arrow-up"></ion-icon>
          </ng-template>
          {{ story.points }}
        </div>
        <div>
          <ion-icon name="chatbox-outline"></ion-icon> {{ story.num_comments }}
        </div>
        <div>
          <ion-icon name="time-outline"></ion-icon>
          {{ timeAgo }} ago
        </div>
      </div>
    </ion-label>
    <div class="faviconContainer">
      <ion-img
        *ngIf="faviconUrl"
        (click)="openWebsite()"
        slot="end"
        class="favicon"
        src="{{ faviconUrl }}"
      ></ion-img>
    </div>
  </ion-item>
  <ion-item-options>
    <ion-item-option (click)="share(); slidingItem.close()" color="primary">
      <ion-icon slot="icon-only" name="share-social-outline"></ion-icon>
      Share
    </ion-item-option>
    <ion-item-option (click)="save(); slidingItem.close()" color="danger">
      <ion-icon slot="icon-only" name="bookmark-outline"></ion-icon>
      Save
    </ion-item-option>
  </ion-item-options>
</ion-item-sliding>
